<div >
  <hr>
  <h1>edit user {{user.id}}</h1>
  <form [formGroup]="userEditionForm" (ngSubmit)="saveForm(userEditionForm)">
    <label>Change User Name:
      <input type="text" formControlName="name">
    </label>
    <br>
    <label>Change User Username:
      <input type="text" formControlName="username">
    </label>
    <br>
    <label>Change User Email:
      <input type="email" formControlName="email">
    </label>
    <br>
    <label>Change User Address-City:
      <input type="text" formControlName="city">
    </label>
    <br>
    <label>Change User Address-Street:
      <input type="text" formControlName="street">
    </label>
    <br>
    <label>Change User Address-Suite:
      <input type="text" formControlName="suite">
    </label>
    <br>
    <label>Change User Address-Zipcode:
      <input type="text" formControlName="zipcode">
    </label>
    <br>
    <label>Change User Address-Geo/Lat:
      <input type="text" formControlName="latitude">
    </label>
    <br>
    <label>Change User Address-Geo/Lng:
      <input type="text" formControlName="longitude">
    </label>
    <br>
    <label>Change User Phone:
      <input type="text" formControlName="phone">
    </label>
    <br>
    <label>Change User Website:
      <input type="text" formControlName="website">
    </label>
    <br>
    <label>Change User Company-Name:
      <input type="text" formControlName="companyName">
    </label>
    <br>
    <label>Change User Company-CatchPhrase:
      <input type="text" formControlName="catchPhrase">
    </label>
    <br>
    <label>Change User Company-BS:
      <input type="text" formControlName="bs">
    </label>
    <br>
    <button>Submit</button>
  </form>
</div>
